.searchBar {
    display: flex;
    justify-content: center;
    background-color: rgb(179, 151, 151);
    width: 900px;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .searchBar .city {
    margin: 15px;
    width: 250px;
    height: 35px;
    font-weight: 100;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: rgb(141, 71, 71);
  }
  
  .searchBar .search-btn {
    margin: 15px;
    font-size: 15px;
    height: 35px;
    width: 150px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(4, 202, 4);
    border: 1px solid rgb(3, 177, 3);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .searchBar .search-btn:hover {
    background-color: rgb(151, 163, 151);
  }
  
  .searchBar .restaurant {
    height: 35px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid;
    padding: 6px 12px;
    width: 350px;
    background-color: rgb(230, 218, 218);
  }
  
  @media (max-width: 950px) {
    .searchBar {
      width: 90%;
    }
    .searchBar .city {
      width: 150px;
      margin: 15px 5px 15px 10px;
    }
    .searchBar .restaurant {
      width: 250px;
      margin: 15px 5px 15px 10px;
    }
    .searchBar .search-btn {
      width: 90px;
      margin: 15px 5px 15px 10px;
    }
  }
  
  @media (max-width: 600px) {
    .searchBar {
      display: block;
    }
    .searchBar .city,
    .searchBar .restaurant,
    .searchBar .search-btn {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 10px;
      width: 100%;
    }
    .searchBar div {
      width: 90%;
      margin: auto;
      align-content: center;
      padding: 10px;
    }
  }